<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="roomName">Room Name</label>
          <input type="text" class="form-control" name="roomName" [(ngModel)]="model.roomName" #roomName="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && roomName.invalid }" required />
          <div *ngIf="f.submitted && roomName.invalid" class="invalid-feedback">
            <div *ngIf="roomName.errors.required">Class Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="roomDescription">Room Description</label>
          <textarea type="text" rows="4" cols="50" class="form-control" name="roomDescription" [(ngModel)]="model.roomDescription" #roomDescription="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && roomDescription.invalid }" required>
          </textarea>
          <div *ngIf="f.submitted && roomDescription.invalid" class="invalid-feedback">
            <div *ngIf="roomDescription.errors.required">Class Description is required</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>