<div class="container-fluid">
  <div class="text-right">
    <a routerLink="/room/create-class" class="btn btn-primary">Create Class</a>
    <button class="btn btn-primary ml-3">Create Task</button>
  </div>
  <div class="mt-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Time Created</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let class of classList">
          <th scope="row">{{ class.id }}</th>
          <td>{{ class.name }}</td>
          <td>{{ class.timeCreated }}</td>
          <td>{{ class.description }}</td>
          <td>
              <button type="button" class="btn btn-primary" (click)="view(class)">View</button>
              <button type="button" class="btn btn-danger" (click)="remove(class)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>