<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col" class="th-sm">#</th>
      <th scope="col" class="th-sm">ID</th>
      <th scope="col" class="th-sm">Full name</th>
      <th scope="col" class="th-sm">Alias name</th>
      <th scope="col" class="th-sm">Join date</th>
      <th scope="col" class="th-sm">DoB</th>
      <th scope="col" class="th-sm">Score</th>
      <th scope="col" class="th-sm">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contestant of contestants">
      <th scope="row">{{ contestant.rank }}</th>
      <td>{{ contestant.id }}</td>
      <td>{{ contestant.fullName }}</td>
      <td>{{ contestant.aliasName }}</td>
      <td>{{ contestant.joinDate | dateFormat}}</td>
      <td>{{ contestant.dob }}</td>
      <td>{{ contestant.score }}</td>
      <td>
        <button role="button" class="btn btn-primary" (click)="viewDetailContestant(contestant.id)">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>