<div class="container-fluid">
  <div class="row" *ngIf="canUpload">
    <div class="col">
      <input id="file-upload" type="file" (change)="incomingFile($event)">
    </div>
    <div class="col text-right">
      <button type="button" class="btn btn-primary" (click)="upload()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="mt-3"></div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Room</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of studentsInRoom">
            <th scope="row">{{ student.mssv }}</th>
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.roomName }}</td>
            <td>{{ student.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>