<div class="text-right">
  <button role="button" class="btn btn-primary text-white ml-1" (click)="back()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
</div>
<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <div class="form-group">
    <label>Drive</label>
    <div class="input-group">
      <input type="text" class="form-control" name="drive" [(ngModel)]="settings.drive"
        #drive="ngModel" [ngClass]="{ 'is-invalid': f.submitted && drive.invalid }" required readonly
        placeholder="Drive" />
      <button type="button" class="btn btn-primary ml-2" (click)="select('Drive')">Select</button>
    </div>
    <div *ngIf="f.submitted && drive.invalid" class="invalid-feedback">
      <div *ngIf="drive.errors.required">Drive is required</div>
    </div>
  </div>

  <div class="form-group">
    <label>Submission</label>
    <div class="input-group">
      <input type="text" class="form-control" name="sumission" [(ngModel)]="settings.submission"
        #submission="ngModel" [ngClass]="{ 'is-invalid': f.submitted && submission.invalid }" required
        readonly placeholder="Submission" />
      <button type="button" class="btn btn-primary ml-2" (click)="select('Submission')">Select</button>
    </div>
    <div *ngIf="f.submitted && submission.invalid" class="invalid-feedback">
      <div *ngIf="submission.errors.required">Submission is required</div>
    </div>
  </div>

  <div class="form-group">
    <label>Themis Contest</label>
    <div class="input-group">
      <input type="text" class="form-control" name="themisContest" [(ngModel)]="settings.themisContest" #themisContest="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && themisContest.invalid }" required readonly
        placeholder="Themis Contest" />
      <button type="button" class="btn btn-primary ml-2" (click)="select('ThemisContest')">Select</button>
    </div>
    <div *ngIf="f.submitted && themisContest.invalid" class="invalid-feedback">
      <div *ngIf="themisContest.errors.required">Themis contest is required</div>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" (click)="back()">Save Settings</button>
  </div>
</form>