<div class="text-right">
  <button role="button" class="btn btn-primary text-white ml-1" (click)="back()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
</div>
<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <div class="form-group">
    <label for="sourceFolder">Source Folder</label>
    <input type="text" class="form-control" name="sourceFolder" [(ngModel)]="settings.sourceFolder"
      #sourceFolder="ngModel" [ngClass]="{ 'is-invalid': f.submitted && sourceFolder.invalid }" required />
    <div *ngIf="f.submitted && sourceFolder.invalid" class="invalid-feedback">
      <div *ngIf="sourceFolder.errors.required">Source Folder is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="destinationFolder">Destination Folder</label>
    <input type="text" class="form-control" name="destinationFolder" [(ngModel)]="settings.destinationFolder"
      #destinationFolder="ngModel" [ngClass]="{ 'is-invalid': f.submitted && destinationFolder.invalid }" required />
    <div *ngIf="f.submitted && destinationFolder.invalid" class="invalid-feedback">
      <div *ngIf="destinationFolder.errors.required">Destination Folder is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="examFolder">Exam Folder</label>
    <input type="text" class="form-control" name="examFolder" [(ngModel)]="settings.examFolder" #examFolder="ngModel"
      [ngClass]="{ 'is-invalid': f.submitted && examFolder.invalid }" required />
    <div *ngIf="f.submitted && examFolder.invalid" class="invalid-feedback">
      <div *ngIf="examFolder.errors.required">Exam Folder is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="spreadsheetId">Spreadsheet ID</label>
    <input type="text" class="form-control" name="spreadsheetId" [(ngModel)]="settings.spreadsheetId"
      #spreadsheetId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && spreadsheetId.invalid }" required />
    <div *ngIf="f.submitted && spreadsheetId.invalid" class="invalid-feedback">
      <div *ngIf="spreadsheetId.errors.required">Spreadsheet ID is required</div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Save Settings</button>
  </div>
</form>