<div class="text-right">
  <button role="button" class="btn btn-primary text-white ml-1" (click)="back()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
</div>
<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <div class="form-group">
    <label>Drive</label>
    <div class="input-group">
      <input type="text" class="form-control" name="drive" [(ngModel)]="settings.drive"
        #drive="ngModel" [ngClass]="{ 'is-invalid': f.submitted && drive.invalid }" required readonly
        placeholder="Drive" />
      <button type="button" class="btn btn-primary ml-2" (click)="select('Drive')">Select</button>
    </div>
    <div *ngIf="f.submitted && drive.invalid" class="invalid-feedback">
      <div *ngIf="drive.errors.required">Drive is required</div>
    </div>
  </div>

  <div class="form-group">
    <label>Root</label>
    <div class="input-group">
      <input type="text" class="form-control" name="root" [(ngModel)]="settings.root"
        #root="ngModel" [ngClass]="{ 'is-invalid': f.submitted && root.invalid }" required
        readonly placeholder="Root" />
      <button type="button" class="btn btn-primary ml-2" (click)="select('Root')">Select</button>
    </div>
    <div *ngIf="f.submitted && root.invalid" class="invalid-feedback">
      <div *ngIf="root.errors.required">Root is required</div>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" (click)="back()">Save Settings</button>
  </div>
</form>