<div class="container-fluid mt-3">
  <div class="row">
    <div class="col text-right">
      <button role="button" class="btn btn-primary text-white ml-1" (click)="back()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row mt-3">
    <div [class.col-8]="showPanel" [class.col-12]="!showPanel">
      <app-rankings-contestant (contestant)="detailsContestant($event)" [examId]="examId"></app-rankings-contestant>
    </div>
    <div [class.col-4]="showPanel" [hidden]="!showPanel">
      <app-details-contestant [contestantId]="contestantId" [exam]="exam"></app-details-contestant>
    </div>
  </div>
</div>