<div class="container-fluid mt-3">
  <div class="row">
    <div class="col text-right">
      <button role="button" class="btn btn-primary text-white" (click)="back()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="id">Exam Id</label>
          <input type="text" class="form-control" name="id" [(ngModel)]="task.id" #id="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && id.invalid }" disabled />
        </div>

        <div class="form-group">
          <label for="name">Task Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="task.name" #name="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required [readonly]="action == 'edit'"
            placeholder="Task Name" />
          <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
            <div *ngIf="name.errors.required">Task Name is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Task Description</label>
          <input type="text" class="form-control" name="description" [(ngModel)]="task.description"
            #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required
            placeholder="Task Description" [readonly]="action == 'edit'" />
          <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
            <div *ngIf="description.errors.required">Task Description is required</div>
          </div>
        </div>

        <div class="form-group" *ngIf="action == 'create'">
          <button class="btn btn-primary">Create Task</button>
        </div>
      </form>
    </div>
  </div>
</div>