<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col" class="th-sm">Alias name</th>
      <th scope="col" class="th-sm">Task Name</th>
      <th scope="col" class="th-sm">Submit Time</th>
      <th scope="col" class="th-sm">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let details of contestantDetails">
      <td>{{ details.aliasName }}</td>
      <td>{{ details.taskName }}</td>
      <td>{{ details.timeSubmitted | dateFormat }}</td>
      <td>{{ details.score }}</td>
    </tr>
  </tbody>
</table>